# Binaries
go-mirror-bot
*.exe

# Configuration
config.env
.env
accounts/
token.pickle
token.json

# Temporary downloads
downloads/
*.torrent
*.aria2

# Logs
log.txt
*.log

# User settings & Thumbnails
users_settings.json
thumbnails/
scratch/
