# Telegram Bot Configuration
BOT_TOKEN=""
OWNER_ID=""

# Storage & Download Settings
DOWNLOAD_DIR="downloads"

# Rclone Target (misal: "mygdrive:Mirror" atau "mega:Downloads")
RCLONE_PATH=""

# Web port untuk Koyeb Health Check (default 8080)
PORT="8080"
